
#div5_1_1 #slider, ul, a {
    width: 685px;
    height: 240px;
}
#slider {
    position: absolute;
    /*padding: 3px;*/
    height: 240px;
    width: 685px;
    overflow: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#div5_1_1 ul {
    position: absolute;
    list-style-type: none;
    width: 6000px;
    /*transition-duration: 0.3s;*/
}

#div5_1_1 li {
    float: left;
}

#div5_1_1 a {
    display: inline-block;
}

#div5_1_1 img {
    width: 100%;
    height: 100%;
}

#slider:hover .arrow-container{
    display: block;
}
.arrow-container {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    display: none;
}

.arrow-container span {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    /*display: inline-block;*/
    text-align: center;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.left-arrow {
    left: 0px;
    cursor: pointer;
}

.right-arrow {
    right: 0px;
    cursor: pointer;
}

.indicator-container {
    position: absolute;
    width: 150px;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

.indicator.active {
    background: skyblue;
}